<?xml version='1.0' encoding='utf-8'?>
<widget id="com.spokinetic" version="0.1.0">
  <name>Spokinetic</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="john@example.org">
    John Smith
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
<plugin name="cordova-plugin-camera" spec="^1.0.0" />
